<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Path to folder with MT940 file-->
    <add key="filePath" value="" />

    <!--URL server to send data-->
    <add key="serverUrl" value="" />

    <!--User login-->
    <add key="login" value="" />

    <!--Database credentials-->
    <add key="dbDataSource" value="" />
    <add key="dbInitialCatalog" value="" />
    <add key="dbUserId" value="" />
    <add key="dbPassword" value="" />

    <!--Guids-->
    <add key="clientID" value="" />
    <add key="clientSecret" value="" />
    
  </appSettings>
</configuration>